#nav_icon3 {
    width: 2.4rem;
    height: 0.9rem;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: none;
}

#nav_icon3 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: linear-gradient(90deg, #5e81f4, #1c67da);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

#nav_icon3 span:nth-child(1) {
    top: 0px;
    height: 3.5px;
}

#nav_icon3 span:nth-child(2),
#nav_icon3 span:nth-child(3) {
    top: 8px;
    height: 3.5px;
}

#nav_icon3 span:nth-child(4) {
    top: 16px;
    height: 3.5px;
}

#nav_icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav_icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav_icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav_icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

@media only screen and (max-width: 600px) {
    #nav_icon3 {
        display: block;
    }
}
